#teamNav a {
	float: left;
}
.ANA {
	width: 37px;
	height: 30px;
}
.ARI {
	float: left;
	width: 30px;
	height: 30px;
}
.BOS {
	width: 28px;
	height: 30px;
}
.BUF {
	width: 30px;
	height: 30px;
}
.CGY {
	width: 30px;
	height: 30px;
}
.CAR {
	width: 35px;
	height: 30px;
}
.CHI {
	width: 30px;
	height: 30px;
}
.COL {
	width: 33px;
	height: 30px;
}
.CBJ {
	width: 30px;
	height: 30px;
}
.DAL {
	width: 35px;
	height: 30px;
}
.DET {
	width: 38px;
	height: 30px;
}
.EDM {
	width: 30px;
	height: 30px;
}
.FLA {
	width: 30px;
	height: 30px;
}
.LAK {
	width: 30px;
	height: 30px;
}
.MIN {
	width: 40px;
	height: 30px;
}
.MTL {
	width: 32px;
	height: 30px;
}
.NSH {
	width: 40px;
	height: 30px;
}
.NJD {
	width: 30px;
	height: 30px;
}
.NYI {
	width: 30px;
	height: 30px;
}
.NYR {
	width: 28px;
	height: 30px;
}
.OTT {
	width: 26px;
	height: 30px;
}
.PHI {
	width: 30px;
	height: 30px;
}
.PIT {
	width: 30px;
	height: 30px;
}
.SJS {
	width: 30px;
	height: 30px;
}
.STL {
	width: 30px;
	height: 30px;
}
.TBL {
	width: 32px;
	height: 30px;
}
.VAN {
	width: 30px;
	height: 30px;
}
.TOR {
	width: 30px;
	height: 30px;
}
.WSH {
	width: 44px;
	height: 30px;
}
.WPG {
	width: 28px;
	height: 30px;
}














