<!DOCTYPE html>
<html>
<head>
<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<link rel="stylesheet" href="styles/style.css">
<link rel="stylesheet" href="styles/team-styles.css">
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
</head>

<body ng-app="hockeyCornerApp">
	<div id="header">
		<div class="holder">
			<div id="title-main">hockey corner</div>
			<div id="title-secondary">Everything you need to know about hockey </div>
		</div>
	</div>
	<div id="main">
		<div  ng-controller="playersCtrl" >
		<div id="main-text">Choose your team</div></br>
			<div id="teamNav">
				<a shape="rect" ng-repeat= "team in teams" ng-class="team.abbr" ng-click="displayTeam($index)"></a>
			</div>
			<div id="chosenTeam" ng-show="havePlayers" ng-init="displayTeam(0)" ng-click="displayTeam((teamIndex+1)%30)">{{teamName}}</div>
			<div ng-show="havePlayers" ng-controller="tabsCtrl">	
			<div class="nav" id="playersNav">
				<div ng-click="setTabPosition(1)" ng-class="{activeTab: isSetPosition(1)}">Goalies</div>
				<div ng-click="setTabPosition(3)" ng-class="{activeTab: isSetPosition(3)}">Defensemen</div>
				<div ng-click="setTabPosition(2)" ng-class="{activeTab: isSetPosition(2)}">Forwards</div>
			</div>
			<div class="nav" id="statsNav">
				<div ng-click="setTabStats(1)" ng-class="{activeTab: isSetStats(1)}"  >Show Stats</div >
				<div ng-click="setTabStats(2)" ng-class="{activeTab: isSetStats(2)}" >Hide Stats</div >
			</div>
			<div ng-controller="sortCtrl">
			<div class="nav" id="filtersNav"      >
				<div  ng-click="reverseAge = !reverseAge; order('age', reverseAge, positions); setTabSort(1)" ng-class="{activeTab: isSetSort(1)}">Age</div >
				<div  ng-click="reverseName = !reverseName; order('name', reverseName, positions); setTabSort(2)" ng-class="{activeTab: isSetSort(2)}">Name</div >
				<div   ng-click="reverseWeight = !reverseWeight; order('weight', reverseWeight, positions); setTabSort(3)" ng-class="{activeTab: isSetSort(3)}">Weight</div >
				<div  ng-click="reverseHeight = !reverseHeight; order('height', reverseHeight, positions); setTabSort(4)" ng-class="{activeTab: isSetSort(4)}">Height</div >	
			</div>
			</br></br></br>
			<players></players>
			</div>
		</div>
		</div>	
	</div>
	<script src="scripts/app.js"></script>
	<script src="scripts/directives.js"></script>
	<script src="scripts/controllers.js"></script>
</body>
</html>
