<!DOCTYPE html>
<html>
<head>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<link rel="stylesheet" href="styles/style.css">
<link rel="stylesheet" href="styles/team-styles.css">
</head>

<body ng-app="hockeyCornerApp">
	<div id="header">
		<div class="holder">
			<div id="title-main">hockey corner</div>
			<div id="title-secondary">Everything you need to know about hockey </div>
		</div>
	</div>
	<div id="main">
		
			<div  ng-controller="playersCtrl" >
				<div id="main-text">Choose your team</div></br>

				<div id="teamNav">
				<a shape="rect" ng-repeat= "team in teams" ng-class="team.abbr" ng-click="displayTeam($index)"></a>
				</div>
				<div id="chosenTeam" ng-show="havePlayers" ng-click="displayTeam((teamIndex+1)%30)">{{teamName}}</div>
				<div id="playersNav">
				<ul>
				<li ng-click="setTab(1)" ng-show="havePlayers" ng-class="{activeTab: isSet(1)}">Goalies</li>
				<li ng-click="setTab(3)" ng-show="havePlayers" ng-class="{activeTab: isSet(3)}">Defensemen</li>
				<li ng-click="setTab(2)" ng-show="havePlayers" ng-class="{activeTab: isSet(2)}">Forwards</li>
				</ul>
				</div>
				<div class="playerProfile"  ng-show="havePlayers" >
					<ul style="list-style-type: none; padding-left: 0" >
		  				<li  ng-repeat="x in position" ng-init="position = positions[0]" >
 							<div class="playerPhoto"><img  src = {{x.imageUrl}}></div>
 							<div class="playerHeader">
 								<img class="teamLogo" src={{logoUrl}}>
 								<div class="playerName"> 
 									<div>{{ x.name + ', ' + x.age}}</div>
 									<div class="playerBaseInfo">{{teamName}} {{x.position}}</div>
 								</div>
 							</div>
 							<div class="playerInfo"><table>
 								<tr >
 									<td class="label">NUMBER</td>
 									<td class="value">{{x.number}}</td>
 									<td class="label">BIRTHPLACE</td>
 									<td class="value">{{x.birthplace}}</td>
 								</tr>
 								<tr >
 									<td class="label">HEIGT</td>
 									<td class="value">{{x.height}}</td>
 									<td class="label">BIRTHDATE</td>
 									<td class="value">{{x.birthdate}}</td>
 								</tr>
 								<tr >
 									<td class="label">WEIGHT</td>
 									<td class="value">{{x.weight}}</td>
 									<td class="label">AGE</td>
 									<td class="value">{{x.age}}</td>
 								</tr>
 							</table></div>
    						
		  				</li>
					</ul>
				</div >

				
			</div>
		
	</div>

<script src="scripts/app.js"></script>

</body>
</html>
