body {
	font-family: 'Lato', sans-serif; 
	font-size: 12px/18px;
	margin: 0;
	color: #999da1;
	background: #333a42;
}

#main-text {
	color: white;
	font-family: 'Lato', sans-serif; 
	font-size: 35px;  line-height: 25px;
	text-align: center;
	margin: 30px 0 10px 0;
}

#teamNav {
	background-image: url(images/teamsNav.png);
	background-repeat: no-repeat;
	height: 30px;
}	

#main {
	width: 960px;
	margin: 10px auto;
	
}

#header {
	background: #FFF;
	height: 75px;
}

#header .holder {
	margin: auto;
	padding: 12px 0 20px 0;
	width: 960px;
	color: #333a42;
}
	
#title-main {
	float: left;
	font-size: 50px;
	line-height: 50px;
	margin-right: 10px;
	
	text-transform: uppercase;
}
	
#title-secondary {
	line-height: 70px; 
	float: right; 
	font-size: 17px;
	font-family: 'Open Sans Condensed', sans-serif; 
	letter-spacing: -1px;
	font-weight: 700;
}

h2 {
	font-size: 34px;
	line-height: 34px;
	border-bottom: 1px solid #5C6065;
	padding-bottom: 5px;
	margin-bottom: 2px;
	color: #FFF;
}

h3 {
	font-size: 18px;
	color: #FFF;
}
