body {
	font-family: 'Lato', sans-serif; 
	font-size: 12px/18px;
	margin: 0;
	color: #999da1;
	background: #333a42;
}

#main-text {
	font-family: 'Lato', sans-serif; 
	font-size: 30px;  line-height: 25px;
	text-align: center;
	margin-top: 20px; 
	float: left;/*auto 0px auto;	*/background: #B2A99A;
	border-radius: 6px;
	margin-right: 10px;
	color: #4C463E;
	padding: 15px;
	font-weight: 600;
	letter-spacing: -1px;
	width: 280px;
	margin-bottom: 20px;
}
#main-text:last-child {
	float: none;
	margin-right: 0px;
}
#main-text.activeTab {
	color: #B2A99A;
	background: #4C463E;
}
#teamNav {
	clear: left;
	background-image: url(../images/teamsNav.png);
	background-repeat: no-repeat;
	height: 30px;
	margin-top: 0px;
}	

#main {
	width: 960px;
	margin: 10px auto;
}

#chosenTeam {
	background: #B2A99A;
	border-radius: 6px;
	color: #4C463E;
	margin-top: 15px;
	
	font-size: 25px;
	font-weight: 700;
	text-align: center;
}
.nav  {
	margin-top: 10px;
	color: #4C463E;
	border: 3px solid #4C463E;
	padding: 10px 10px;
	border-radius: 7px;
	float: left;
	margin-right: 3px;
	text-align: center;
	margin-bottom: 10px;
}
.nav:last-child {
	margin-right: 0px;
}
.nav div{
	background: #B2A99A;
	border-radius: 6px;
	font-weight: 700;
	padding: 5px 8px ;
	display: inline; 
	margin-right: 15px
}
.nav div.activeTab {
	color: #B2A99A;
	background: #4C463E;
}
.nav div:hover {
	color: #B2A99A;
	background: #4C463E;
}
.nav div:last-child{
	margin-right: 0px
}

#playersNav {
	width: 330px;
}
#statsNav {
	width: 222px;
}
#filtersNav {
	width: 323px;
	margin-right: 0px;
}

#bestNav {
	width: 925px;
}
#header {
	background: #FFF;
	height: 75px;
}

#header .holder {
	margin: auto;
	padding: 12px 0 20px 0;
	width: 960px;
	color: #333a42;
}
	
#title-main {
	float: left;
	font-size: 50px;
	line-height: 50px;
	margin-right: 10px;
	text-transform: uppercase;
}
	
#title-secondary {
	line-height: 70px; 
	float: right; 
	font-size: 17px;
	font-family: 'Open Sans Condensed', sans-serif; 
	letter-spacing: -1px;
	font-weight: 700;
}

.playerPhoto {
	float: left;
	border: 3px solid #4C463E;
	border-radius: 5px;
	margin-right: 5px;
	height: 150px;
}

.playerHeader {
	float: left;
	padding-bottom: 5px;
	border-bottom: 1px solid  #4C463E;
	width: 800px;
}

.playerProfile ul li {
	width: 940px;
	border: 2px solid #4C463E;
	color: #4C463E;
	background: #B2A99A;
	border-radius: 6px;
	font-weight: 700;
	margin-bottom: 3px;
	padding: 5px;
	height: 160px;
}
.teamLogo {
	float: left;
	margin-right: 5px;
}

.playerName {
	font-size: 20px;
	font-weight: 600;
	margin: 2px;
}

.playerBaseInfo {
	font-size: 15px;
	margin-top:5px;
}

.playerInfo {
	float: left;
	margin-top: 7px;
}

.label {
	color: #B2A99A;
	background: #4C463E;
	border-radius: 6px;
	font-weight: 700;
	padding: 5px ;
}

.value {
	color: #333a42 ;
	padding-right: 10px;
	padding-left: 5px;
	
}

.searchInput {
	border-radius: 6px;
	margin-right: 10px;
	display: inline; 
	
}

